# Dependencies & build
node_modules/
.nuxt
.output
.data
.nitro
.cache
dist/

# Env (décommenter si tu ne veux pas versionner les .env)
# .env
# !.env.example

# IDE / OS
.idea
.DS_Store
*.log

# Strapi
.strapi
.strapi-updater.json
.strapi-cloud.json

# Yarn
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
